name: Backend Docker Build

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"
      - ".github/workflows/backend-docker-ci.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "backend/**"

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build backend Docker image
        run: |
          docker build -t pythonbuddy-backend -f backend/Dockerfile .
